DB_URL=mysql+pymysql://<user>:<pass>@<host>:<port>/<db>?charset=utf8mb4
PHONE_SALT=change_me_for_dev
ALLOWED_ORIGINS=http://localhost:5173,http://127.0.0.1:5173
AWS_REGION=ap-northeast-2
AWS_S3_BUCKET=voiceofinha-dev-bucket
AWS_ACCESS_KEY_ID=REDACTED_AWS_ACCESS_KEY_ID
AWS_SECRET_ACCESS_KEY=REDACTED_AWS_SECRET

gcp_project_id=nice-script-469104-i1
gcp_location=us-central1
google_application_credentials=keys/gcp-stt-key.json